.item-card {
    height: 300px;
    background-image: url("/src/images/item-background.png");
}

.item-card-bodypart {
    margin-top: 230px;
    width: 580px
}

.item-card-logo {
    margin-bottom: 200px;
}