
.container-table {
    margin-right: 5%;
    margin-top: 30px;
    overflow-y: auto;
    height: 600px;
    width: 90%;
    margin-left: 5%;
}

thead {
    text-shadow: 0 0 3px #363636;
    position: sticky;
    top: 0;
    height: 30px;
}

table.greenTable {
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 10px;
}

table.greenTable td, table.greenTable th {
    border: 1px solid #b9e193;
    padding: 3px 2px;
}

table.greenTable tbody td {
    font-size: 13px;
}

table.greenTable tr:nth-child(even) {
    background: #cae3c6;
}

table.greenTable thead {
    background: -moz-linear-gradient(top, #68bb55 0%, #3aad32 66%, #1ca41e 100%);
    background: -webkit-linear-gradient(top, #68bb55 0%, #3aad32 66%, #1ca41e 100%);
    background: linear-gradient(to bottom, #68bb55 0%, #3aad32 66%, #1ca41e 100%);
}

table.greenTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}


button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFF;
    border: 1px solid #D5D9D9;
    font-size: 13px;
    height: 24px;
    padding: 0 11px;
    text-align: center;
    font-weight: 400;
    color: #0F1111;
}

button:hover {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
}

input {
    font-size: 10px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border-radius: 1px;
}
