.item_input_field {
    border-radius: 8px 8px;
}

#navi-logo {
    color: #575757;
    font-size: 25px;
    float: left;
    margin-left: 20px;
    padding: 9px 16px;
}

.topnav {
    overflow: hidden;
    background-color: #EAEDF5;
}

.topnav .add-container {
    float: right;
}

.topnav input[type=text] {
    margin-left: 8px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .add-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #EAEDF5;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .add-container button:hover {
    background: #EAEDF5;
}

@media screen and (max-width: 600px) {
    .topnav .add-container {
        float: none;
    }

    .topnav a, .topnav input[type=text], .topnav .add-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

}
